.infoBox {
  flex: 1;
  cursor: pointer;
  border-top: 10px solid #eee;
}

.infoBox__dark {
  background-color: #666 !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox__CasesBorderColor {
  border-color: #fb4443;
}

.infoBox__DeathsBorderColor {
  border-color: #cc1034;
}

.infoBox__RecoveredBorderColor {
  border-color: #7dd71d;
}

.infoBox__CasesTextColor {
  color: #fb4443;
}

.infoBox__DeathsTextColor {
  color: #cc1034;
}

.infoBox__RecoveredTextColor {
  color: #7dd71d;
}

.infoBox--notSelected {
  border-color: #e2e2e2;
}

.infoBox__title__dark,
.infoBox__total__dark {
  color: #fff !important;
}

@media (max-width: 500px) {
  .infoBox__cases {
    font-size: 1rem;
  }

  .infoBox__title {
    font-size: 0.8rem !important;
  }
}
