.table {
    margin-top: 20px;
    overflow-y: scroll;
    height: 400px;
    color: #6a5d5d;
}

.table tr {
    display: flex;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.table__dark {
    background-color: #666;
    scrollbar-color: dark !important;
}

.table__dark tr {
    color: #FFF;
}

.table__dark tr:nth-of-type(odd) {
    background-color: #666;
}

.table__dark tr:nth-of-type(even) {
    background-color: #2C3034;
}

.table__countryFlag {
    width: 10px;
    height: 10px;
    display: block;
}